
.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.card-title {
    margin-bottom: 0px;
}

.h-15 {
    height: 15px;
}
.b-font {
    background-color: #f7f7f7 ;
}
 .mwh-300 {
     max-width: 100px;
     max-height: 100px;
     margin-top: 25px;
     margin-right: 15px;
 }
 .pt-50 {
     padding-top: 150px;
     padding-bottom: 150px;
 }
 body{
  font-family: 'Playfair Display', serif;
 }

 

 .mx-3 { 
   margin-left: 0 !important;
 } 
 .gutter-0 {
  --mdb-gutter-x: 0;
 }

 .green {
   color: #76FF03;
 } 

 .bg-card {
   background-color: #464646;
 }

 .bg-blog {
   background-color: #c6c6c6 ;
 }

 .bg-ctc {
  color: #90CAF9;
 }